name: Beta Docker Build

on:
  workflow_dispatch:
  push:
    branches:
      - dev

env:
  GHCR_ENDPOINT: "ghcr.io/rix1337/quasarr"

jobs:
  version:
    name: Get Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Get Version
        id: version
        run: |
          pip install requests
          echo "version=$(python quasarr/providers/version.py)" >> $GITHUB_OUTPUT

  build-wheel:
    name: Build Wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}-${{ hashFiles('setup.py') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install wheel pyinstaller
          pip install -r requirements.txt
      - name: Build wheel
        run: python setup.py sdist bdist_wheel
      - uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: ./dist/*

  build-docker-amd64:
    name: Build Docker (AMD64) :beta
    runs-on: ubuntu-latest
    needs: [ version, build-wheel ]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v4
        with:
          name: wheel
          path: ./docker/dist

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push (:beta, amd64)
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.GHCR_ENDPOINT }}:beta
            ${{ env.GHCR_ENDPOINT }}:beta-amd64
            ${{ env.GHCR_ENDPOINT }}:${{ needs.version.outputs.version }}-beta-amd64
          build-args: VS=${{ needs.version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
